<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Welcome back, {{user.username}} !</h1>
        <div>
            <a href="/logout"><button type="logout" class="btn btn-primary" action="logout">Logout</a></button>
            <a href="/return"><button type="return" class="btn btn-primary" action="return">Return</a></button>
<div>
    <h1>{{books.title}}</h1>
    <p>{{books.description}}</p>
    <p>{{books.uploaded_by.username}}</p>
    <p>{{books.users_who_like.username}}</p>
    <p>{{books.created_at}}</p>
</div>
<div> 
    {% if books.uploaded_by.id == request.session.user_id %}
    <form action="/books/{{books.id}}/update"" method="post">
        {% csrf_token %}
        Title: <input type='text' name='title' value='{{books.title}}'><br>
        Description: <input type='text' name='description' value='{{books.description}}'><br>
        </div>
        <button type="submit">Update</button>
    </form>
    <a href="/books/{{books.id}}/destroy"><button>Delete</button></a>
{% endif %}
</div>
<body>

</html>